<h1>Booking show </h1>
<%= @booking.item.name %>
<% if !@booking.booking_completed %>
    <%= button_to 'Return item', return_item_path(item_id: @booking.item_id, booking_id: @booking.id) %>
<% else %>
    <%= link_to 'Leave review', new_review_path(booking_id: @booking.id) %>
<%end%>
