<% if @bookings.length == 0 %>
    <p>Borrow your first item <%= link_to "here", items_path %></p>
<%end%>
<% @bookings.each do |booking| %>
<ul>
<li><%= booking.booking_completed%>
<li><%= link_to "Booking Details", booking_path(booking) %>
<li>Item: <%= booking.item.name %></li>
</ul>
<%end%>
