<h1 id="title">Items Available</h1>

<% @items.each do |item|%>
<div class="entry col-xs-4 col-xs-offset-0 col-lg-4 col-lg-offset-0">
      <div class="product_img img-responsive", align="center">
        <%= link_to item.name, item_path(item) %>
        <%= image_tag(item.image)%>
    </div>
</div>
<%end%>